@import "tailwindcss";



@theme  {
  --color-primary:  #4B5563;
}


@layer base {
  @font-face {
    font-family: "Instrument Sans";
    src: url("/fonts/InstrumentSans-VariableFont_wdth.ttf") format("woff2");
  
    font-style: normal;
    font-display: swap;
  }

}
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-track {
  animation: ticker 25s linear infinite;
}
@keyframes frete-move {
  0% { transform: translateX(0px); }
  50% { transform: translateX(6px); }
  100% { transform: translateX(0px); }
}

.animate-frete {
  animation: frete-move 1.5s ease-in-out infinite;
}
@layer utilities {


  .font-Instrument-Sans {
    font-family: var(--font-Instrument-Sans);
  }
}